h1{
	font-family: 50px;
	text-align: center;
}
.linha {
	width: 672px;
	margin: auto;
}
.casa {
	border: solid 2px;
	border-color: black;
	width: 220px;
	height: 220px;
	float: left;

}
body {
	width: 100%;
    height: 400px;
    background-image: url("img/bvx.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

table, th, td {
    border: 1px solid black;
    border-color: red;
    color: red;
}